@import url("https://fonts.googleapis.com/css?family=Nova+Slim&display=swap");

:root {
  --primary: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --danger: #dc3545;
  --orange: #fd7e14;
  --warning: #ffc107;
  --success: #28a745;
  --teal: #20c997;
  --info: #0dcaf0;
  --secondary: #adb5bd;
  --black: #000;
  --white: #fff;
}

body,
html {
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
  color: #555e58;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
  font-weight: 400;
  line-height: 1.5em;
}

p {
  font-size: 15px;
  margin: 12px 0 0;
  line-height: 24px;
}

a {
  color: #333;
  font-weight: 400;
}

button:focus {
  box-shadow: none;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

ul,
ol {
  padding: 0;
  margin: 0px;
  list-style: none;
}

a,
a:hover,
a:focus,
.btn-link,
.btn-link:hover,
.btn-link:focus {
  color: #333;
  text-decoration: none;
  transition: all 0.3s;
}

img {
  width: 100%;
}

label {
  font-weight: 600;
}

/*=======================================================
  material-icons  copy & paste form site google material-icons
  ==================================================*/

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
    url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/*=======================================================
  material-icons  copy & paste form site google material-icons
  ==================================================*/

.wrapper {
  position: relative;
  width: 100%;
  overflow: auto;
}

/* ---------------------------------------------------
    SIDEBAR STYLE start
----------------------------------------------------- */

#sidebar {
  position: fixed;
  height: 100vh !important;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  width: 260px;
  overflow: auto;
  transition: all 0.3s;
  background: #ffffff;
  box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

#sidebar .sidebar-header {
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
}

#sidebar ul li {
  padding: 2px 7px;
}

.dropdown-toggle::after {
  position: absolute;
  right: 10px;
  top: 25px;
}

#sidebar ul li a:hover,
#sidebar ul li .btn-link:hover {
  color: #333;
  background-color: rgba(200, 200, 200, 0.2);
}

#sidebar ul.components {
  padding: 1rem 0;
}

#sidebar ul li a,
#sidebar ul li .btn-link {
  padding: 10px;
  line-height: 2rem;
  border-radius: 5px;
  font-size: 1rem;
  position: relative;
  font-weight: 400;
  display: block;
  text-align: start !important;
  width: 100%;
}

#sidebar ul li a span,
#sidebar ul li .btn-link span {
  text-transform: capitalize;
  display: inline-block;
}

#sidebar ul li a i,
#sidebar ul li .btn-link i {
  position: relative;
  margin-right: 10px;
  top: 5px;
  color: #444;
  margin-left: 10px;
}

#sidebar.show-nav,
.body-overlay.show-nav {
  transform: translatex(0%);
  opacity: 1;
  display: block;
  visibility: visible;
  z-index: 15;
}

/*=======================================================
   main-content navbar-design start
   ===============================================*/

#content {
  position: relative;
  transition: all 0.3s;
  background-color: #eeeeee;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.top-navbar {
  width: 100%;
  z-index: 9;
  position: relative;
}

.navbar {
  background-image: url("https://www.rumahweb.com/home/images/bg-700.webp");
  background-size: cover;
  color: #ffffff;
}

.navbar-brand {
  color: #ffffff;
  transition: all 0.3s;
}

.navbar-brand:hover {
  color: #ffffff !important;
  letter-spacing: 0.3rem;
  cursor: pointer;
}

.navbar-brand:visited {
  color: #ffffff !important;
}

.navbar button {
  background-color: transparent;
  border: none;
}
.navbar button span {
  color: #fff;
}

#sidebarCollapse {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-right: 1rem;
  margin-bottom: 6px;
  border: none;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.09);
}

#sidebarCollapse span {
  margin: 9px 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

#sidebarCollapse:hover > span {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

/*=======================================================
  main-content navbar-design end
  ===============================================*/
@media only screen and (min-width: 992px) {
  #sidebar.active {
    width: 80px;
    height: 100% !important;
    position: absolute !important;
    overflow: visible !important;
    top: 0 !important;
    z-index: 666;
    float: left !important;
    bottom: 0 !important;
  }

  #sidebar.active .sidebar-header h3 span {
    display: none;
    transition: all 0.5s ease;
  }

  #sidebar.active ul li a span,
  #sidebar ul li .btn-link span {
    display: none;
    transition: all 0.5s ease;
  }

  #sidebar.active .dropdown-toggle::after {
    display: none;
    transition: all 0.5s ease;
  }

  #content {
    width: calc(100% - 260px);
    position: relative;
    float: right;
    transition: all 0.3s;
    background-color: #eeeeee;
  }

  #content.active {
    width: calc(100% - 80px);
  }

  #sidebar.active .menu {
    position: absolute;
    left: 81px;
    background-color: var(--white);
    width: 180px;
    height: auto;
    margin: 5px 0;
    top: 0;
    border: 1px solid #dcd9d9;
    z-index: 4;
  }

  .dropdown-menu {
    border: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    transform: translate3d(0, -20px, 0);
    visibility: hidden;
    transition: all 150ms linear;
    display: block;
    min-width: 15rem;
    right: 0;
    left: auto;
    opacity: 0;
  }
}

/*=============================================
  login design start
  =========================================*/
.login-page {
  height: 100vh;
  background-image: url("https://www.rumahweb.com/home/images/bg-700.webp");
  background-size: cover;
}

.login-page card {
  box-shadow: 2px 2rem rgba(0, 0, 0, 0.493);
}
/*=============================================
    login design end
    =========================================*/

/*=======================================================
main-content inner design like card start
===============================================*/

.main-content {
  padding: 1rem;
  position: relative;
  width: 100%;
  height: 93.5vh;
  overflow-y: scroll;
}

.main-content .content-header h1 {
  font-weight: 600;
}

.card {
  display: inline-block;
  position: relative;
  border: none !important;
  width: 100%;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
}

.card-stats .card-header {
  float: left;
  text-align: center;
}

.card .card-header {
  padding: 1rem 20px 0;
  z-index: 3;
  background-color: #fff !important;
  border-bottom: none;
}

.card .card-footer .stats .material-icons {
  position: relative;
  top: 4px;
  font-size: 1.3rem;
}

.card-stats .card-header span {
  font-size: 36px;
  line-height: 56px;
  width: 56px;
  height: 56px;
}

.icon.icon-warning {
  color: var(--orange);
}

.icon.icon-rose {
  color: var(--danger);
}
.icon.icon-success {
  color: var(--success);
}
.icon.icon-info {
  color: var(--info);
}

.icon.icon-gray {
  color: var(--secondary);
}

.card .card-footer {
  margin: 0 7px 0px;
  padding-top: 10px;
  background-color: var(--white);
  border-top: 1px solid #eeeeee;
}

.text-info {
  color: var(--info) !important;
}

.card-stats .card-content {
  text-align: right;
  padding-top: 10px;
}

.card .card-content {
  padding: 1rem 20px;
  position: relative;
}

.card .card-content .category {
  margin-bottom: 0;
}
.card .category:not([class*="text-"]) {
  color: #555555;
  font-size: 14px;
  font-weight: 400;
}

.card .card-title:not(.card-calendar .card-title) {
  margin-top: 0;
  margin-bottom: 5px;
}

.card-stats .card-title {
  margin: 0;
}

.card .card-footer .stats {
  line-height: 22px;
  color: #555555;
  font-size: 0.9rem;
}

.card .card-footer div {
  display: inline-block;
}

.card .card-header-text h4 {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #222222;
  text-decoration: none;
}

.card .card-content {
  padding: 0.9rem 20px;
  position: relative;
}

.card-about {
  height: 550px;
  background-position: center;
  background-size: cover;
}

table > tbody > tr > td:nth-child(6) {
  font-weight: bolder;
}

.detail-karyawan .navbar-tabs h1 {
  font-weight: 900;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.detail-karyawan .navbar-tabs h1:hover {
  color: var(--primary);
}

.detail-karyawan .navbar-tabs .detail-isi tr {
  font-size: 1rem;
}

.detail-karyawan .navbar-tabs .detail-content .detail-keterangan {
  font-weight: 900;
}

.detail-karyawan .navbar-tabs .card .tab-content button {
  width: 100%;
  max-width: 300px;
}

.detail-karyawan .navbar-tabs .card .detail-content img {
  max-width: 300px;
  max-height: 400px;
  overflow: hidden;
}

.log-admin h1 {
  font-weight: 900;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.log-admin h1:hover {
  color: var(--primary);
}

/*=======================================================
     main-content inner design like card end
     ===============================================*/

@media only screen and (max-width: 992px) {
  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10;
    width: 260px;
    transform: translatex(-100%);
    transition: all 150ms linear;
    box-shadow: none !important;
  }

  #sidebarCollapse {
    margin-right: 0;
  }

  .body-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    transition: all 150ms linear;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
/*===============small-screen overlay sidebar design media queries==============*/
